-
    var met = [
        {'id': 'courier', 'name': 'Доставка курьером', 'action' : 'show active', 'desc' : 'Заказ приедет по выбранному адресу'},
        {'id': 'pickup',  'name': 'Самовывоз',         'action' : '',            'desc' : 'Выберите адрес Постмата'},
        {'id': 'branch',  'name': 'Филиал',            'action' : '',            'desc' : 'Доставка в офис компании'}
    ];
.row
    .col-12.col-lg-7.mr-auto
        form.row.no-gutters
            .form-group.col-8
                label.control-label(for="Region") Регион получения
                input(type="text" placeholder="").form-control#Region
            .form-group.cards.col-12
                label.control-label(for="") Способ получения
                nav.card-deck
                    each val, index in met
                        .card
                            .nav.card-body.nav-tabs#nav-tab(role="tablist")                            
                                a.nav-item.card-title.stretched-link(
                                    href='#nav-'+val.id
                                    class=val.action
                                    id=val.id+'-tab'
                                    aria-controls="nav-"+val.id
                                    data-toggle="tab"
                                    role="tab"
                                )
                                    label.name=val.name
                                .card-text
                                    small.text-muted
                                        p=val.desc
                .tab-content.form-group.col-8#tabClick
                    each val, index in met
                        .tab-pane.fade(
                            class=val.action
                            id='nav-'+val.id
                            aria-labelledby=val.id+'-tab'
                            role="tabpanel"
                        )
                            if val.id === 'courier' 
                                =''
                            else if val.id === 'pickup' 
                                =''
                            else if val.id === 'branch'
                                =''
            .form-group.col-8
                label.control-label(for="RData") Данные получателя
                input(type="text" placeholder="Улица, дом").form-control#RData
            .form-group.col-8
                input(type="text" placeholder="Квартира").form-control
            .form-group.col-8
                input(type="text" placeholder="Фамилия, имя и отчество").form-control
            .form-group.col-8
                input(type="text" placeholder="Электронная почта").form-control
            .form-group.col-8
                input(type="text" placeholder="Телефон").form-control
            .form-group.col-8
                label.control-label(for="Extra") Дополнительно
                textarea#Extra.form-control(type="text" name="message" rows="5" required="required" placeholder="Ваш комментарий")            
    .col-12.col-lg-4.cart-form
        include ./cart-form.pug
